* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
}

body {
    min-height: 100vh;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links-container {
    width: 384px;
    height: 600px;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

img {
    height: 88px;
    width: 88px;
    border-radius: 100%;
    margin-top: 2rem;
}

.profile-text {
    text-align: center;
}
.profile-text h1 {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1.5rem
}
.profile-text h4 {
    color: #c5f82a;
    font-size: 14px;
    margin-top: 5px;
}
.profile-text p {
    margin-top: 1.25rem;
    font-size: 14px;
    color: #aaa
}

.socials-links {
    margin-top: 1.5rem;
}

.socials-links ul {
    list-style-type: none;
  
}
.socials-links li {
    width: 304px;
    height: 45px;
    text-align: center;
    margin: 1rem 0;
}

.socials-links li a {
    width: 304px;
    height: 45px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-weight: bold;
}

.socials-links a:hover {
    background-color: #c5f82a;
    color: #333;
}

/* 

Media Queries

*/


@media screen and (max-width: 500px) {

    .social-links-container {
            width: 90%;
            height: 600px;
            background-color: #1f1f1f;
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
        }

}